

<div class="row justify-content-center ">
    <div class="col-md-6 ">
        <div class="container mt-5 p-5">

            <h3 class="text-center mt-5 ">LOGIN</h3>
            <form action="/login" method="post">




                <div class="form-group mt-3 ">


                    <label> Email Address</label>

                    <input type="text" class="form-control mt-3" name="email" placeholder="please enter vaild your Email " value="">

                    <div class="form-group mt-3">
                        <label> Password</label>
                        <input type="password" class="form-control mt-3" name="password"  placeholder="please enter your vaild password" value="">
                    </div>

                    <a href="/signup" class="text-dark">Please Create new account?</a>
                    <button class="btn btn-danger mt-3 float-right bg-danger ">Login</button>
            </form>

        </div>
    </div>


</div>




