<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main text-center">
               <h1 class="text-center mt-4 p-5">ORDER SUCCESSFULLY!</h1>
           
                <a href="/orders" class="btn btn-danger justify-align-center ">View Orders</a>
            </div>
        </div>
    </div>
</div>